/* ------------------------ Tudo ------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* ------------------------ Header ------------------------- */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 4, 53);
    color: white;
    min-height: 90px;
    margin-bottom: 26px;
}

.logo {
    width: 70%;
    margin: auto 0 auto 25px;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: white;
}

nav {
    margin: auto;
    width: 20%;
}
nav ul {
    display: flex;
    margin: auto;
}

nav ul li {
    margin: 5px;
    font-size: 22px;
    
}

/* ------------------------ Body ---------------------------- */

body{
    background-color: rgb(33, 75, 95);
}

.container {
    width: 80%;
    margin: auto;
}

p{
    padding: 15px;
}

/* ------------------------ Main ------------------------- */
main {
    margin: auto;
      width: 1200px;
}

/* Bloco 1 - in/out */

.block1{
    display: block;
    border: 10px solid rgb(102, 102, 102);
    background-color: gray;
    width: 250px;
    height: 150px;
    margin: auto;
    text-align: center;
    line-height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Bloco 2 - par ou impar */

.block2{
    border: 10px solid rgb(102, 102, 102);
    background-color: gray;
    height: 250px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#n1 , #n2, #b1 {
    margin: 10px;
    
    
}

/* Bloco 3 - Horas */

.hrs {
    width: 50%;
    height: 150px;
    text-align: center;
    border: 10px solid rgb(27, 33, 107);
    background-color: rgb(1, 150, 137);
    margin: auto;
}

.hrs h1{
   width: 50%;
   margin: auto;
}


/* Login section */
.login {
    background-color: rgba(243, 0, 0, 0.39);
    border-radius: 5px;
    border: 5px solid rgba(243, 0, 0, 0.678);
    width: 50%;
    margin: auto;
    text-align: center;
    box-shadow:  7px 7px 5px rgba(0, 0, 0, 0.486);
    margin-bottom: 25px;
}


.login #password {
    margin: 10px;
}

.login button {
    margin: 10px;
}
form{
    margin: 30px;
    text-align: center;
}

#btn, #cad {
    width: 70px;
    margin: auto;
    cursor: pointer;
}

/* --------------------- Tic Tac Toe ----------------------- */
.jogo {
    display: flex;
    align-items: center;
}
.ttt {
    display: grid;
    margin: 0 auto;
    background-color: rgb(98, 97, 196);
    color: white;
    border: 5px solid rgb(19, 19, 49);
    border-radius: 10px;
    width: 480px;
    height: 500px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.ttt > div {
    display: flex;
    border: 5px solid rgb(19, 19, 49);
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
   
}

.score {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 200px;
}
.score > p {
    line-height: 70px;
    padding: 0 45px;
    border: 1px solid black;
    background-color: rgb(98, 97, 196);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

.botoes{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.botoes > button{
    margin: 10px;
    width: 80px;
    height: 30px;
    border-color: rgb(20, 15, 15);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(20, 15, 15);
    cursor: pointer;
}

/* ------------------------ Footer ------------------------- */
footer {
    position: relative;
    bottom: 0;
    min-height: 200px;
    width: 100%;
    background-color: black;
    color: white;
}

