body{
    background-color: black;
}
.container{
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 70px;
    background-color: rgb(46, 46, 112);
}
.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    background-color: rgb(156, 6, 6);
    transition-duration: 5s;
    left:0 ;
    top: 0;
    right: 0;
    bottom: 0;
}